body {
    background-image: url("https://i.ytimg.com/vi/qX1F0yoXqXk/maxresdefault.jpg");
    background-size: cover;
    background-attachment: fixed;
}
p {
    text-align: center;
}
h3 {
    text-align: center;
}
#autistBlok {
    background-color: rgba(83, 83, 83, 0.527);
}
#footer {
      position:absolute;
      bottom:0;
      width:100%;
      height:60px;   /* Height of the footer */
      background-color: rgb(102, 102, 102);
  }
#autistButton {
    background-color: blue;
    display: inline-block;
    border: none;
    font-size: 100px;
    background-image: url("mongoButton.jpg");

}